* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  .header-heads {
    display: flex;
    & h1::first-letter {
      margin-left: 1rem;
      font-size: larger;
      font-weight: 800;
    }
  }
  .header-images img {
    max-width: 30vh;
    margin: auto;
  }
}
.form .btn:active {
  transform: scale(0.92);
}
.card {
  border: 2px solid rgb(255, 117, 99);
  width: 80vh;
  min-width: 40vh;
  background-color: white;
  margin: 1rem 0;
}
.desc {
  text-align: justify;
  font-size: 12px;
}
.logo {
  height: 70px;
  text-align: center;
  & img {
    max-height: 100%;
  }
}
.card h4 {
  background-color: antiquewhite;
  border-top: 1px solid rgb(255, 117, 99);
  border-bottom: 1px solid rgb(255, 117, 99);
}
.notfound {
  width: 40vh;
  margin: 2rem;
}
.footer {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(255, 117, 99);
  border-radius: 1rem;
  & img {
    width: 5vh;
    margin: 0 1rem;
  }
}
